# Ignore everything by default
*

# Allow Git to traverse directories
!*/

# Do not ignore Documentation directory and its contents
!Documentation/
!Documentation/**

# Ignore db/
db/
db/*

# Quartus project definition files
!*.qpf
!*.qsf

# HDL source files
!*.vhd
!*.v
!*.sv

# Constraints and scripts
!*.sdc
!*.tcl

# Documentation
!*.md
!*.txt

# Keep this ignore file itself
!.gitignore
